
# Copyright 2024 Google LLC

# TODO(370995822): Implement fine-grained policies for service bundles.
# Allow services to create and bind to sockets. Used in HAR.
allow lifecycle_service_bundle_runner node:tcp_socket node_bind;
allow lifecycle_service_bundle_runner port:tcp_socket name_bind;
allow lifecycle_service_bundle_runner proc_net:file { getattr open read };
allow lifecycle_service_bundle_runner self:tcp_socket { accept bind getattr getopt listen read setopt write };
allow lifecycle_service_bundle_runner port:tcp_socket name_connect;
allow lifecycle_service_bundle_runner self:tcp_socket { connect create };
