service harry /apex/com.google.display_safety.har/bin/harry
    class main
    user root
    group audio camera graphics
    oneshot
    disabled
    override

# Executing HAR and the data publisher at the earliest possible time.
on property:apex.all.ready=true
    # Start fake camera
    exec_background u:r:su:s0 -- /apex/com.google.display_safety.har/bin/ffmpeg -nostdin -stream_loop -1 -re -i /apex/com.google.display_safety.har/etc/harry/camera/camera_emulation.mp4 -f v4l2 -vcodec rawvideo -pix_fmt bgra -vf scale=640:360 /dev/video10
    # Initialize data folder. This is no-op after the first run.
    exec u:r:su:s0 -- /system/bin/sh /apex/com.google.display_safety.har/etc/com.google.display_safety.har.init_data_folder_apex.sh
    # start the HAR application
    start harry
